<div class="create-crypto-container">
    <h1>Add Cryptocurrency</h1>
    @if (errorMessage) {
        <div class="fixed top-16 right-4 bg-red-500 text-white p-4 rounded shadow-lg z-50">
            <p>{{ errorMessage }}</p>
        </div>
    }
    <form #form="ngForm" (ngSubmit)="create(form)">
        <div class="form-group">
            <label for="name">Crypto Name</label>
            <input type="text" id="name" name="name" ngModel #inputName="ngModel" placeholder="Enter crypto name"
                required minlength="3" />
            @if (inputName?.touched) {
            <div>
                @if (inputName?.errors?.['required']) {
                <div class="error">
                    Crypto name is required!
                </div>
                }
                @if (inputName?.errors?.['minlength']) {
                <div class="error">
                    Crypto name must be at least 3 characters!
                </div>
                }
            </div>
            }
        </div>

        <div class="form-group">
            <label for="symbol">Symbol</label>
            <input type="text" id="symbol" name="symbol" ngModel #inputSymbol="ngModel"
                placeholder="Enter crypto symbol" required minlength="2" />
            @if (inputSymbol?.touched) {
            <div>
                @if (inputSymbol?.errors?.['required']) {
                <div class="error">
                    Crypto symbol is required!
                </div>
                }
                @if (inputSymbol?.errors?.['minlength']) {
                <div class="error">
                    Crypto symbol must be at least 2 characters!
                </div>
                }
            </div>
            }
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" ngModel #inputDescription="ngModel"
                placeholder="Enter a description" rows="4" required minlength="10"></textarea>
            @if (inputDescription?.touched) {
            @if (inputDescription?.errors?.['required']) {
            <div class="error">
                Crypto description is required!
            </div>
            }
            @if (inputDescription?.errors?.['minlength']) {
            <div class="error">
                Crypto description must be at least 10 characters!
            </div>
            }
            }
        </div>

        <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input type="text" id="imageUrl" name="imageUrl" ngModel #inputImageUrl="ngModel"
                placeholder="Enter an image URL" required />
            @if (inputImageUrl?.touched) {
            @if (inputImageUrl?.errors?.['required']) {
            <div class="error">
                Crypto URL is required!
            </div>
            }
            }
        </div>

        <button class="btn" [disabled]="form.invalid">Add Crypto</button>
    </form>
</div>