@if (errorMessage) {
<div class="fixed top-16 right-4 bg-red-500 text-white p-4 rounded shadow-lg z-50">
    <p>{{ errorMessage }}</p>
</div>
} @else {
<div class="container mx-auto p-6 font-sans max-w-5xl">
    @if (isLoading) {
    <app-loader />
    } @else {
    <div class="bg-white shadow-lg rounded-xl border border-gray-200 p-6 flex space-x-6">
        <div class="w-1/3">
            <img src="{{crypto?.imageUrl}}" alt="Crypto Image" class="w-full h-auto rounded-lg shadow" />
        </div>
        <div class="w-2/3">
            <div class="mb-4">
                <h1 class="text-3xl font-semibold text-gray-800 mb-2">{{crypto?.name}}</h1>
                <p class="text-sm text-gray-500 uppercase mb-2">Symbol: {{crypto?.symbol}}</p>
                <p class="text-2xl font-bold text-green-500">${{crypto?.currentPrice}}</p>
            </div>
            <p class="text-gray-600 text-sm mb-6">{{crypto?.description}}</p>
            @if (isAdmin) {
            <div class="flex space-x-4">
                <button routerLink="/cryptos/{{crypto?._id}}/edit"
                    class="bg-blue-500 text-white text-sm font-medium py-2 px-4 rounded-lg shadow hover:bg-blue-400">
                    Edit
                </button>
                <button (click)="deleteCrypto()"
                    class="bg-red-500 text-white text-sm font-medium py-2 px-4 rounded-lg shadow hover:bg-red-400">
                    Remove
                </button>
            </div>
            }
        </div>
    </div>

    <div class="bg-gray-50 mt-8 p-6 rounded-xl shadow-lg border border-gray-200">
        <h2 class="text-xl font-semibold text-gray-800 mb-4">Comments</h2>
        <div class="space-y-6">
            @if (crypto?.comments!.length > 0) {
            @for (comment of crypto?.comments; track $index) {
            <div class="flex items-start space-x-4 bg-white p-4 rounded-lg border border-gray-200 shadow-sm">
                <div class="flex-1">
                    <div class="bg-gray-100 p-3 rounded-lg">
                        <div class="flex items-center justify-between">
                            <p class="text-sm font-medium text-gray-800">{{comment?.user?.username}}</p>
                            <p class="text-xs text-gray-500">{{comment?.createdAt | date:'short'}}</p>
                        </div>
                        <p *ngIf="isEditing !== comment?._id" class="mt-2 text-gray-700 text-sm">
                            {{comment?.text}}
                        </p>
                        <textarea *ngIf="isEditing === comment?._id" [(ngModel)]="comment.text"
                            class="w-full mt-2 p-2 rounded-lg border border-gray-300 focus:ring focus:ring-blue-300 text-sm">
                            </textarea>
                    </div>
                    @if ((comment?.user?._id == currentUser?._id) || isAdmin) {
                    <div class="mt-2 flex space-x-3">
                        <button *ngIf="isEditing !== comment?._id" (click)="editComment(comment)"
                            class="bg-blue-500 text-white text-sm py-1 px-3 rounded-lg hover:bg-blue-400">
                            Edit
                        </button>
                        <button *ngIf="isEditing === comment?._id" (click)="updateComment(comment?._id)"
                            class="bg-green-500 text-white text-sm py-1 px-3 rounded-lg hover:bg-green-400">
                            Save
                        </button>
                        <button *ngIf="isEditing === comment?._id" (click)="cancelEdit(comment)"
                            class="bg-gray-500 text-white text-sm py-1 px-3 rounded-lg hover:bg-gray-400">
                            Cancel
                        </button>
                        <button *ngIf="isEditing !== comment?._id" (click)="deleteComment(comment?._id)"
                            class="bg-red-500 text-white text-sm py-1 px-3 rounded-lg hover:bg-red-400">
                            Delete
                        </button>
                    </div>
                    }
                </div>
            </div>
            }
            } @else {
            <div class="text-center p-6 bg-gray-50 rounded-lg border border-gray-200 shadow-sm">
                <p class="text-xl font-semibold text-gray-800">No comments yet</p>
            </div>
            }
            <form *ngIf="currentUser && (isOwner || isAdmin || !isOwner)">
                <div class="flex items-start space-x-4 mt-6">
                    <div class="flex-1">
                        <textarea #inputText
                            class="w-full p-4 rounded-lg border border-gray-300 focus:ring focus:ring-blue-300 text-sm"
                            rows="4" placeholder="Write a comment..."></textarea>
                        <button (click)="addComment(inputText)" type="button"
                            class="mt-4 bg-green-500 text-white text-sm font-medium py-2 px-4 rounded-lg hover:bg-green-400">
                            Add Comment
                        </button>
                    </div>
                </div>
            </form>            
        </div>
    </div>
    }
</div>
}