<header class="bg-gray-800 text-white">
    <div class="container mx-auto flex justify-between items-center py-4 px-6">
        <h1 class="text-2xl font-bold">Crypto Hub</h1>
        <nav class="flex items-center space-x-4">
            <a routerLink="home" class="hover:text-blue-400">Home</a>
            <a routerLink="cryptos" class="hover:text-blue-400">Catalog</a>
            <a routerLink="about" class="hover:text-blue-400">About</a>
            <a routerLink="search" class="hover:text-blue-400">Search</a>
            
            <ng-container *ngIf="isLoggedIn">
                <a *ngIf="isAdmin" routerLink="cryptos/create" class="hover:text-blue-400">Add</a>
                <a routerLink="logout" class="hover:text-blue-400" (click)="logout()">Logout</a>
                <img 
                    src="https://softuni.bg/users/profile/showavatar/890319ff-b9f3-42fb-aef7-fcb2338f9f8d" 
                    alt="Profile Picture" 
                    class="w-10 h-10 rounded-full hover:cursor-pointer"
                    routerLink="profile"
                />
                <a
                    [routerLink]="['/chat', currentUser?._id]"
                    class="hover:text-blue-400"
                    *ngIf="isLoggedIn">
                    Chat
                </a>
            </ng-container>
            <ng-container *ngIf="!isLoggedIn">
                <a routerLink="login" class="hover:text-blue-400">Login</a>
                <a routerLink="register" class="hover:text-blue-400">Register</a>
            </ng-container>
        </nav>
    </div>
</header>
